<nav className='relative'>
  <div class="flex items-center px-6 py-2 text-sm text-gray-700 whitespace-nowrap space-x-10 overflow-x-scroll scrollbar-hide">
    <div class="flex flex-row items-center group" data-dropdown-toggle="dropdown" type="button">
      <h2><%= link_to "Shop By Platform", root_path %></h2>
      <%= heroicon "chevron-down", variant: :outline, options: { class: "h-4 hover:cursor-pointer group-hover:-rotate-180 duration-150 ml-1" } %>
    </div>
    <h2 class="hover:text-indigo-700"><%= link_to "Home", root_path %></h2>
    <h2 class="hover:text-indigo-700"><%= link_to "Coming Soon", root_path %></h2>
    <h2 class="hover:text-indigo-700"><%= link_to "Preowned", root_path %></h2>
    <h2 class="hover:text-indigo-700"><%= link_to "Imports", root_path %></h2>
    <h2 class="hover:text-indigo-700"><%= link_to "Merchandise", root_path %></h2>
    <h2 class="hover:text-indigo-700"><%= link_to "Trade In", root_path %></h2>
    <h2 class="hover:text-indigo-700"><%= link_to "Services", root_path %></h2>
  </div>
  <hr class="border-gray-200">
</nav>